<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OfflineCalc3</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ninja">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ninja/Crusade
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mlg">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Motherland Games
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/shield">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shield
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/oil">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Oil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/space">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Space
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/atlantis">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Atlantis
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/music">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Music
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aztec">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aztec
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
