@page "/space"

<h3>Space</h3>

@code {
    private static string[][] rawCosts = [["10", "1 m", "10 aa", "10 dd", "1 kk", "100 pp"],
        ["100", "1 t", "100 dd", "1 ii", "1 oo"],
        ["1000", "1 bb", "1 ff", "1 ll"]];
    private static BigNum[][] Costs = rawCosts.Select(x => x.Select(y => new BigNum(y)).ToArray()).ToArray();

    private static double[][] basicOutputs = [[3, 2.5, 1.75, 1.13, 0.688, 0.406],
        [3, 2.5, 1.75, 1.13, .688],
        [3, 2.5, 1.75, 1.13]];
    private static double[][] basicCommonPowers = [[1, 1, 1, 1, 1, 1],
        [1, 1, 1, 1, 1],
        [1, 1, 1, 1]];
    private int[] generatorCount = basicCommonPowers.Select(x => x.Length).ToArray();
    private static double[] rarePowers = [0,0,0];
    private static double[] globalProdPower = [.5];
    private int[] commonMulti = [3,4,5];
    private int rareMulti = 4;
    private bool globalProd = true;
    private bool[] canCrit = [true, true, true];
    private int[] critChance = [0, 15, 30, 45, 60, 75, 90];
    private int basicCritBonus = 256;
}


<Calcs IndustryCount="3" GeneratorCount="generatorCount" Costs="Costs" basicOutputs="basicOutputs" basicCommonPowers="basicCommonPowers" rarePowers="rarePowers" commonMulti="commonMulti" globalProd= "globalProd" critChance ="critChance" basicCritBonus ="basicCritBonus" globalProdPower="globalProdPower" canCrit="canCrit" rareMulti="rareMulti"/>